* {
  box-sizing: border-box;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  padding: 0 2rem;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

nav a {
  font-weight: bold;
  margin: 0 0.5rem;
  text-decoration: underline;
}

/* FormDemo.css */

.form-demo .card {
  min-width: 450px;
}

.form-demo .card form {
  margin-top: 2rem;
}

.form-demo .card .field {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
  .form-demo .card {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .form-demo .card {
    width: 100%;
    min-width: 0;
  }
}

.top-centered {
  /* height: 100vh;
  display: flex;
  justify-content: top;
  align-items: center; */
}

.navbar {
  height: 5vh;
  /* Magic here */
  display: flex;
  justify-content: top;
  align-items: center;
}

.logo {
  color: #009345;
}

.centered {
  height: 100vh;
  /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.p-splitbutton {
  width: 20rem;
}
